body {
  box-shadow: inset 0 0 300px 1px #ccc;
  transition: all 0.3s;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Open Sans';
  animation-duration: 5s;
}

a {
  color: #0e7f1d;
  overflow: hidden;
  display: block;
  max-width: 500px;
  text-overflow: ellipsis;
  /*word-wrap: initial;*/
  white-space: nowrap;
  font-size: 20px;
}

.header {
  color: black;
  font-size: 40px;
  text-align: center;
}

.body {
  padding-top: 1%;
}



